@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<TP1_A16.Models.TypeAnimal>

@if (Model != null && Model.Any())
{
    foreach (var animal in Model)
    {
        <li>@animal.Nom</li>
    }
}
else
{
    <li>No animals found.</li>
}

